{% extends 'myhomecb/shared/base.html' %}   

{% load static %}

{% block content %}
<body style="background-color:rgb(173, 180, 180)"> 
    <div class="container-fluid"></div>
    <div class="row">
        <div class="col-9" style="background-color: #667992;width: 150px;height: 66px;margin-top: 10px; font-size:36px;color: rgb(255, 16, 243);font-style:normal;border-style:solid;border-width:33%;border-color: rgb(112, 112, 111);border-right: #cf8804;"> <b>Happy Customers</p><br></b></div>
        <div class="col-3" style="background-color: #667992;border-right: 10%;margin-top: 10px;border-top: 25%;border-style: solid;border-color: rgb(124, 119, 119);border-left: #3b5998;"></div>
       </div>
       <div class="container">
         
       </div>
         <div class="row">
       <div class="col-10" style="background-color: black;height: 500px;"><img src="{% static '/images/cust1.jpg' %}"style="width:1320px"; height="490px"></div></div>
      
       {% endblock content %}