{% extends 'company/shared/base.html' %}   

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            <h2>CHANGE PASSWORD</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                
                {% if error %}
                    <br>
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endif %}
                    
            </form>
        </div>
    </div>
</div>

{% endblock content %}