{% extends 'clubbroker/shared/base.html' %}


{% load static %}

{% block content %}
<body style="background-color:rgb(173, 180, 180)"> 
    <div class="container-fluid"></div>
    <div class="row">
        <div class="col-9" style="background-color: #2f2702;width: 150px;height: 66px;margin-top: 10px; font-size:36px;color: rgb(192, 79, 13);font-style:normal;border-style:solid;border-width:33%;border-color: rgb(112, 112, 111);border-right: #cf8804;"> <b> Club Brokers </i> </p><br></b></div>
        <div class="col-3" style="background-color: #292310;border-right: 10%;margin-top: 10px;border-top: 25%;border-style: solid;border-color: rgb(124, 119, 119);border-left: #3b5998;"></div>
       </div>
       <div class="container">
         
       </div>
         <div class="row">
       <div class="col-10" style="background-color: rgb(54, 93, 109);height: 500px;"><img src="{% static '/images/cbrok1.png' %}"style="width:1320px"; height="490px"></div>
       <div class="col-2" style="background-color: rgb(54, 93, 109);height: 500px;"></div></div>
       {% endblock content %}